.custom-shape-divider-top-1680960483 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1680960483 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 700px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1680960483 .shape-fill {
    fill: #FFFFFF;
}
.recaptcha {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.recaptcha > * {
    margin-top: "20px";
    float: right;
    right: 0;
    margin: -2px -2px -10px;/*remove borders*/ 
}
